.App {
  text-align: center;
}

.form-container {
  width: 70%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
}

.form-container form {
  margin-bottom: 20px;
  width: 100%;
}

.form-container input[type="text"] {
  width: 50vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container .dropdown-button {
  width: 100%;
}

.form-container button {
  color: #000000;
  border: none;
}

.add-note-form{
  width: 30vw;
  margin: auto;
  display: block;
  background-color: gray;
  border-radius: 6px;
  padding: 20px;
}

.add-note-form input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 100px;
  border: none;
}

.add-note-button{
  display: flex;
  justify-content: space-between;
}

.add-note-button button{
  border-radius: 5px;
  border: white;
}